// results
.results-container {
  margin: 0 auto;
  width: 380px;
  border: solid 1px gray;
  padding: 10px;
  overflow: auto;
  height: 150px;
  border-radius: 9px;
}
.result-title {
  background: #efefef;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
}
