// results
.results-container {
  margin: 0 auto;
  width: 300px;
  border: solid 1px #dbdbdb;
  padding: 10px;
  overflow: auto;
  height: 150px;
  border-radius: 0 0 9px 9px;
}
.results-list {
  .result-title {
    background: #efefef;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    width: 100%;
    transition: all 0.1s ease;
    &:hover {
      box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
      transition: all 0.3s ease;
    }
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    color: #195197;
    font-size: 20px;
  }
}